#team {
  background-color: black;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-title {
  color: white;
}

.team-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.team-container-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}
.team-container {
    display: grid;
    background-color: black;
    /* width: 5000px; */
    color: white;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }
  
  .team-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    aspect-ratio: 3 / 4; 
  }
  
  .team-card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .team-member-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .team-card h3 {
    margin: 10px 0 5px;
    padding: 0 10px;
  }
  
  .team-member-role {
    font-style: italic;
    margin: 0 0 10px;
    padding: 0 10px;
  }
  
  .team-member-description {
    flex-grow: 1;
    overflow: auto;
    padding: 0 10px 10px;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .team-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }